#theBody {
    background-color: #ffd800;
    font-size: 60px;
}

.online {
    background-color: #82da6b;
}

.offline {
    background-color: #ee7254;
}

.list-group {
    color: black;
}

.btn {
    border-radius: 0;
}

.col-xs-12 {
    padding: 0 0 0 ;
}

.panel-body {
    padding: 0 15px 0 15px;
}

.panel-title {
    font-size: 55px;
}

.panel-body {
    font-size: 25px;
}

.list-group-item {
    font-size: 15px;
}