#theBody {
    background-color: #45d04a;
    font-size: 60px;
}

.btn {
    border-radius: 0;
}

.col-xs-12 {
    padding: 0 0 0 ;
}

.panel-body {
    padding: 0 15px 0 15px;
}

.panel-title {
    font-size: 55px;
}

.panel-body {
    font-size: 25px;
}

.list-group-item {
    font-size: 15px;
}